{{> navigation}}

<h1>Log In</h1>

<form method="POST" action="">
    <label for="username">Username:</label>
    <input type="text" required=true/>
    
    <label for="password">Password:</label>
    <input type="password" required=true />

    <button type="submit">Log In</button>
</form>