{{> navigation }}

<h1>Sign Up</h1>
<form>
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" placeholder="First" required="true"/>
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" placeholder="Last" required="true"/>
    <label for="userName">Username:</label>
    <input type="text" name="userName" placeholder="User" required="true"/>
    <label for="password">Password:</label>
    <input type="password" name="password" required="true"/>
    <button type="submit">Sign up</button>
</form>